<h1>Carros</h1>
<hr>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Filtro:</label>
  </div>
  <div class="col-auto">
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Descrição</th>
      <th>Cor</th>
      <th>Ano Fabricação</th>
      <th>Ano Modelo</th>
      <th>Marca</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of carrosFiltrados">
      <td></td>
      <td>{{carro.descricao}}</td>
      <td>{{carro.cor}}</td>
      <td>{{carro.anoFabricacao}}</td>
      <td>{{carro.anoModelo}}</td>
      <td>{{carro.marca}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;">Editar</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)">Excluir</button>
      </td>
    </tr>
  </tbody>

</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma exclusão do carro?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
