<div class="d-flex">
  <div class="flex-fill pr-3" style="margin-right: 10px;">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Filtro: </div>
      </div>
      <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
    </div>
  </div>
  <div>
    <a class="d-flex btn btn-outline-primary" routerLink="/carros/detalhe">
      <i class="fa fa-plus-circle my-1" style="margin-right: 5px;"></i>
      <b class="ml-1 d-none d-sm-block">Novo</b>
    </a>
  </div>
</div>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Descrição</th>
      <th>Cor</th>
      <th>Ano Fabricação</th>
      <th>Ano Modelo</th>
      <th>Marca</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carro of carrosFiltrados" (click)="detalheCarro(carro.id)" style="cursor: pointer">
      <td></td>
      <td>{{carro.descricao}}</td>
      <td>{{carro.cor}}</td>
      <td>{{carro.anoFabricacao}}</td>
      <td>{{carro.anoModelo}}</td>
      <td>{{carro.marca}}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal($event, template, carro.id, carro.descricao)">
          <i class="fa fa-trash" ></i>
        </button>
      </td>
    </tr>
  </tbody>

</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma exclusão do {{this.carroDescricao}} código nº {{this.carroId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
